@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import helper._
@import controllers.AssetsFinder

@(signInForm: Form[memoriae.controllers.AuthController.SignInFormData])(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)
@implicitField = @{ FieldConstructor(plainFieldConstructor.f) }

@main(messages("sign.in.title")) {
  <div class="uk-margin-large-top flex-center">
    <div class="uk-card uk-card-secondary uk-card-body">
      <fieldset class="uk-fieldset">
        @form(CSRF(memoriae.controllers.routes.AuthController.signIn)) {
        <div>
          @inputText(
            signInForm("username"),
            'class -> "uk-input",
            'type -> "text",
            'placeholder -> "UserName"
          )
        </div>
        <br/>
        <div>
          @inputPassword(
            signInForm("password"),
            'class -> "uk-input",
            'type -> "text",
            'placeholder -> "Password"
          )
        </div>
        <br/><br/>
        <button class="uk-button uk-button-default">
          @messages("sign.in")
        </button>
        }
      </fieldset>
    </div>
  </div>
}
