@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import helper._
@import controllers.AssetsFinder

@(signInForm: Form[memoriae.controllers.AuthController.SignInFormData])(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)
@implicitField = @{ FieldConstructor(plainFieldConstructor.f) }

@main(messages("sign.in.title")) {
  <form>
    <fieldset class="uk-fieldset">
      @form(CSRF(memoriae.controllers.routes.AuthController.signIn)) {
      <div class="uk-width-1-4">
        @inputText(
          signInForm("id"),
          'class -> "uk-input",
          'type -> "text",
          'placeholder -> "UserName"
        )
      </div>
      <br/>
      <div class="uk-width-1-4">
        @inputPassword(
        signInForm("password"),
          'class -> "uk-input",
          'type -> "text",
          'placeholder -> "Password"
        )
      </div>
      <br/><br/>
      <button class="uk-button uk-button-default">
        @messages("sign.in")
      </button>
      }
    </fieldset>
  </form>
}
